@import "tailwindcss";

@theme {
    --color-auth-background: #B9DAFD;
    --color-auth-div-background: #E2F2FF;
    --color-auth-button: #247DEC;
    --color-index-background: #F7E4C8;
    --color-index-input: #FB734B;
}
