{%extends 'base.html'%}

{% block title %} Login {% endblock %}

{% block content %}
    <main class="h-screen bg-linear-to-b from-sky-500 to-sky-700 flex justify-center items-center">
        <div class="h-[20rem] bg-blue-500">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div>
                    <label for="">Username: </label>
                    <input type="text" name="username" placeholder="username" required>
                </div>
                <div>
                    <label for="">Password: </label>
                    <input type="password" name="password" placeholder="password" required>
                </div>
                <p>Don't have an account <a href="/accounts/register/">Register</a></p>
                <button type="submit">Log-in</button>
            </form>
        </div>
    </main>
{% endblock %} 