{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <main class="h-screen flex justify-center items-center bg-auth-background px-4">
        <div class="w-full max-w-md h-full max-h-[30em] rounded-lg bg-auth-div-background p-6">
            <h1 class="text-center text-[24px] font-bold">Register</h1>
            <form class="h-full flex flex-col justify-evenly" method="post">
                {% csrf_token %}
                <div>
                    {{ form.username.errors }}
                    {{ form.username }}
                </div>

                <div>
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>

                <div>
                    {{ form.password1.errors }}
                    {{ form.password1 }}
                </div>

                <div>
                    {{ form.password1.errors }}
                    {{ form.password2 }}
                </div>

                <button class="h-[40px] w-full bg-auth-button cursor-pointer text-white font-bold rounded-[10px]" type="submit">Register</button>
            </form>
        </div>
    </main>

    <script defer>
        document.getElementById("id_username").focus();
    </script>

{% endblock %}
