<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);  

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );

            chatSocket.onopen = function(e) {
                console.log("WebSocket connection opened!");
            };

            chatSocket.onmessage = function(e) {
                console.log("Received message from server:", e.data);
                const data = JSON.parse(e.data);
                console.log("parsed", data)
                if (data.type == "chat.history") {
                    appendMessage(data.sender, data.message, data.timestamp, true);
                } else {
                    appendMessage(data.sender, data.message, data.timestamp, false);
                }
                console.error("Failed to parse message:", e.data, err);

            };

            function appendMessage(sender, message, timestamp, isHistory) {
                const container = document.getElementById("chat-log");
                const div = document.createElement("div");
                //After: Add logic with isHistory, but for now let's make it simple

                div.innerHTML = `${sender}: ${message} <br> ${timestamp}`
                container.appendChild(div)
            }

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.key == 'Enter') {
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;  
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            };
    </script>
</body>
</html>